.about-page {
  margin-top: 80px;
}
.our-mission {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(8, 1fr);
  padding: 50px 0px;
  height: 100vh;
}

.our-mission > div {
  border-radius: 16px;
  overflow: hidden;
}

.our-mission > div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: var(--transition);
}
.our-mission > div > img:hover {
  scale: 1.1;
}
.mission-img-1 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;
}
.mission-img-2 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 3;
}

.mission-img-3 {
  grid-column-start: 13;
  grid-column-end: 15;
  grid-row-start: 1;
  grid-row-end: 4;
}
.mission-img-4 {
  grid-column-start: 15;
  grid-column-end: 19;
  grid-row-start: 1;
  grid-row-end: 3;
}

.mission-img-5 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 7;
}

.mission-img-6 {
  grid-column-start: 13;
  grid-column-end: 15;
  grid-row-start: 4;
  grid-row-end: 6;
}

.mission-img-7 {
  grid-column-start: 15;
  grid-column-end: 19;
  grid-row-start: 3;
  grid-row-end: 6;
}

.mission-img-8 {
  grid-column-start: 14;
  grid-column-end: 17;
  grid-row-start: 6;
  grid-row-end: 9;
}
.mission-img-9 {
  width: 120px;
  height: 120px;
  grid-column-start: 17;
  grid-column-end: 19;
  grid-row-start: 6;
  grid-row-end: 8;
}
.our-mission > span {
  position: absolute;
  top: 220px;
  width: 42%;
}

.our-mission > span > h3 {
  color: var(--color-primary);
  text-align: left;
}

.events > h2,
.collab > h2 {
  margin-bottom: 40px;
}

.events-container,
.collab-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.events-container h4,
.collab-container h4 {
  color: white !important;
}

@media screen and (max-width: 1024px) {
  .our-mission {
    padding-top: 420px;
    height: 110vh;
  }

  .mission-img-1 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .mission-img-2 {
    grid-column-start: 9;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .mission-img-3 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 9;
  }
  .mission-img-4 {
    grid-column-start: 15;
    grid-column-end: 19;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .mission-img-5 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 9;
  }

  .mission-img-6 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 8;
  }

  .mission-img-7 {
    grid-column-start: 13;
    grid-column-end: 19;
    grid-row-start: 4;
    grid-row-end: 8;
  }

  .mission-img-8,
  .mission-img-9 {
    display: none;
  }
  .our-mission > span {
    top: 20px;
    width: 100%;
  }
  .about-page .why-us-card .details {
    align-items: flex-start;
  }
  .events-container {
    gap: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .our-mission {
    padding-top: 450px;
    height: auto;
  }
}
