.course-card-container {
  padding-left: 1.5% !important;
  display: flex !important;
  justify-content: center !important;
}
.mySwiper {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  .course-card-container {
    padding-left: 2% !important;
  }
}

@media screen and (max-width: 600px) {
  .course-card-container {
    padding-left: 9% !important;
  }
}
