#testimonials {
  padding-top: 32px;
}
.testimonials-container {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 1024px) {
  .testimonials-container {
    display: grid;
    gap: 40px 0px;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .testimonials-container {
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
