#testimonials {
  padding-top: 32px;
}
.testimonials-container {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .testimonials-container {
    display: grid;
    justify-items: center;
    gap: 10px;
    grid-template-columns: 1fr;
  }
}
