.why-us-card {
  display: flex;
  padding: 0 5%;
  gap: 10%;
  margin-top: 72px;
}

.why-us-card > img {
  width: 45%;
  border-radius: 32px;
}

.why-us-card:nth-child(2) {
  flex-direction: row-reverse;
}

.why-us-card > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.why-us-card > div > h4 {
  margin-top: -15px;
  margin-bottom: 10px;
}

.why-us-card > div > p {
  margin-bottom: 10px;
  font-size: 14px;
}
