.faculty-page {
  margin-top: 80px;
}
.faculty-page-container {
  display: flex;
  padding: 50px;
}

.faculties-container {
  margin-left: 50px;
  height: fit-content;
  display: grid;
  gap: 44px 72px;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 600px) {
  .faculties-container {
    margin-left: 20px;
    margin-top: -20px;
    grid-template-columns: 1fr;
  }
}
