/* Stats */
.stats {
  color: black;
  /* padding: 20px 150px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.stats > div {
  margin: 18px;
}

.stats > div > span {
  font-size: 44px;
  font-weight: 600;
}
.stats > div > p {
  font-size: 24px;
  font-weight: 400;
}

/* Media Queries */
/* Stats */
@media screen and (max-width: 1080px) {
  .stats {
    padding: 0;
    justify-items: center;
    align-items: center;
  }
  .stats > div {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .stats > div > span {
    font-size: 32px;
    font-weight: 500;
  }
  .stats > div > p {
    font-size: 20px;
    font-weight: 300;
  }
}
