.sidebar {
  background-color: var(--color-bg-variant);
  padding: 10px 20px;
  border-radius: 15px;
  height: fit-content;
  position: sticky;
  top: 100px;
}

.sidebar h5 {
  background-color: var(--color-primary);
  margin: 20px 5px;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 15px;
  text-align: center;
  min-width: 170px;
  cursor: pointer;
}

.sidebar h5:hover {
  background-color: var(--color-white);
  color: black;
}

@media screen and (max-width: 600px) {
  .sidebar {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 95vw;
    top: 10px;
    left: 2.5vw;
  }

  .sidebar h5 {
    width: fit-content;
    font-size: 13px;
    padding: 5px 10px;
    margin: 5px;
    min-width: 65px;
    border-radius: 10px;
  }
}
