.sidebar {
  background-color: var(--color-bg-variant);
  padding: 10px 20px;
  border-radius: 15px;
  height: fit-content;
  position: sticky;
  top: 100px;
}

.sidebar h5 {
  background-color: var(--color-primary);
  margin: 20px 5px;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 15px;
  text-align: center;
  min-width: 170px;
  cursor: pointer;
}

.sidebar h5:hover {
  background-color: var(--color-white);
  color: black;
}
