.course-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 350px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 20px;
  border: 1px solid black;
}

.card-img {
  width: 100%;
}
.card-btns {
  display: flex;
  gap: 20px;
}
