.course-card {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 30px;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  color: black;
}
.course-card-img {
  border-radius: 20px;
  margin-bottom: 10px;
  overflow: hidden;
}

.course-card > h5 {
  font-weight: 600;
  margin-bottom: -5px;
}
.course-card > h6 {
  font-size: 15px;
  font-weight: 500;
}
.card-btns {
  margin-top: 15px;
  display: flex;
  gap: 30px;
}
.card-btns > a {
  font-size: 14px;
  padding: 10px 15px;
}
