.demo-faculty-container {
  padding-left: 1.5% !important;
  padding-bottom: 0px !important;
}
.demo-faculty-container > .mySwiper {
  padding: 20px 0px;
}

#demo-faculty > a {
  margin-top: 64px;
}

@media screen and (max-width: 1024px) {
  .demo-faculty-container {
    padding-left: 1% !important;
  }
}

@media screen and (max-width: 600px) {
  .demo-faculty-container {
    padding-left: 5% !important;
  }
}
