.demo-faculty-container {
  padding-left: 4.5% !important;
}
.demo-faculty-container > .mySwiper {
  padding: 20px 0px;
}

#demo-faculty > a {
  margin-top: 64px;
}

@media screen and (max-width: 1024px) {
  .demo-faculty-container {
    padding-left: 0 !important;
  }
  .demo-faculty-container > .mySwiper {
    width: 640px;
  }
}

@media screen and (max-width: 700px) {
  .demo-faculty-container > .mySwiper {
    width: 300px;
  }
}
