.faculty-card {
  max-width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 20px;
  border: 1px solid rgb(255, 255, 255);
  color: black;
  padding: 16px;
  transition: var(--transition);
}

.faculty-card > img {
  cursor: pointer;
  border: 5px solid var(--color-bg);
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: var(--transition);
  position: relative;
}

.faculty-card > h5 {
  margin-top: 10px;
  font-weight: 600;
}
.faculty-card > h6 {
  text-transform: capitalize;
  font-weight: 500;
  margin-top: -5px;
  font-size: 14px;
}

.faculty-socials {
  margin: 12px;
  display: flex;
  gap: 15px;
  font-size: 22px;
  transition: var(--transition);
  cursor: pointer;
}

.faculty-socials > .icon {
  color: var(--color-bg);
}

.faculty-socials > .icon:hover {
  color: var(--color-primary);
  transform: translateY(-2px);
}
