header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  min-height: 80px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
}

nav {
  width: 80%;
  min-height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo > img {
  width: 200px;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  /* width: 50%; */
  /* transition: all 0.3s ease 0s; */
  /* -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s; */
}

.nav-item {
  width: 100%;
  padding: 2px 20px;
  text-transform: capitalize;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #3b566e;
  transition: all 0.3s ease 0s;
  /* -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s; */
}

.nav-item:hover {
  color: var(--color-primary);
}
.nav-item.active {
  color: var(--color-primary);
}

.nav-list > .btn {
  margin-left: 20px;
  font-size: 14px;
  padding: 10px;
}

.nav-list > .btn:hover {
  border-color: var(--color-bg);
}

.hamburger-icon {
  display: none;
  font-size: 24px;
  color: #1e1e1e;
  position: absolute;
  right: 40px;
  top: 30px;
  cursor: pointer;
}

/* Medium Devices */
@media screen and (max-width: 1024px) {
  nav {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .logo {
    margin: 24px 10%;
  }

  .nav-list {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 0;
  }

  .nav-list li {
    width: 100%;
    padding: 0;
    border-top: 1px solid #eee;
    text-align: center;
  }

  .nav-item {
    height: 50px;
    padding-top: 4px;
  }
  .nav-item:hover {
    background-color: rgb(238, 238, 238);
  }
  .nav-list > .btn {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
}

.display-flex {
  display: flex;
}
