.course-page {
  margin-top: 80px;
}

.course-page-container {
  display: flex;
  padding: 50px;
}
.courses-container {
  margin-left: 50px;
  display: grid;
  gap: 44px 24px;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 600px) {
  .courses-container {
    margin-left: 20px;
    margin-top: -20px;
    gap: 24px;
    grid-template-columns: 1fr;
  }
}
