.banner {
  display: flex;
  flex-direction: column;
  height: 300px;
  background-color: var(--color-bg-variant);
  justify-content: flex-end;
  padding: 64px 230px;
}

.banner > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
